Repository djangoindia/djangoindia.org, pull requests merged in 2024-10, with the labels that each got.

#172 Updating prettier config
  frontend/.prettierrc
  frontend/src/components/ClientError/ClientError.tsx
  frontend/src/components/ClientError/index.ts
  frontend/src/sections/Latestupdate/LatestUpdate.tsx
Labels: frontend

#148 Feature Update: Subscribe CTA in Hero
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/DataCard/datacard.tsx
  frontend/src/components/DataCard/index.ts
  frontend/src/components/Modal/modal.tsx
  frontend/src/components/index.ts
  frontend/src/sections/Hero/Hero.tsx
  frontend/src/sections/WhatIsDjango/WhatIsDjango.tsx
Labels: feature, frontend

#178 Create Sponsors, Partners, and Volunteers Sections for Event Page
  .env.example
  backend/djangoindia/api/serializers/partner_and_sponsor.py
  backend/djangoindia/db/migrations/0013_volunteer.py
  backend/djangoindia/db/models/volunteer.py
  frontend/public/account.png
  frontend/src/components/Modal/modal.tsx
  frontend/src/containers/Event/Event.tsx
  frontend/src/containers/RegisterEvent/RegisterEvent.config.ts
  frontend/src/containers/RegisterEvent/RegisterEvent.tsx
  frontend/src/sections/CommunityPartners/CommunityPartners.tsx
  frontend/src/sections/CommunityPartners/index.ts
  frontend/src/sections/EventSection/EventCard.tsx
  frontend/src/sections/EventSponsors/EventSponsors.tsx
  frontend/src/sections/EventSponsors/index.ts
  frontend/src/sections/EventVolunteers/EventVolunteers.tsx
  frontend/src/sections/EventVolunteers/index.ts
  frontend/src/types/events.ts
Labels: frontend, hacktoberfest-accepted

#196 Created Media Library API design
  contributions.md
Labels: UI design, low-or-no-code

#201 Added Attendees List Figma Link
  contributions.md
Labels: hacktoberfest, UI design, low-or-no-code, hacktoberfest-accepted

#200 Made the UI responsive
  frontend/src/sections/Navbar/Navbar.tsx
  frontend/src/sections/WhatIsDjango/WhatIsDjango.tsx
Labels: frontend, hacktoberfest

#214 Mandala Illustration kit UI design.
  contributions.md
Labels: hacktoberfest, UI design, low-or-no-code, hacktoberfest-accepted
