Repository djangoindia/djangoindia.org, pull requests merged in 2024-09, with the labels that each got.

#139 Google analytics setup
  frontend/src/app/layout.tsx
Labels: frontend

#152 Handled throttle errorr
  frontend/src/app/(core)/events/page.tsx
  frontend/src/components/ClientError/ClientError.tsx
  frontend/src/components/ClientError/index.ts
  frontend/src/components/index.ts
  frontend/src/sections/EventSection/Main.tsx
  frontend/src/utils/fetchData.ts
Labels: frontend

#151 feat: implement slug in backend
  backend/djangoindia/api/serializers/event.py
  backend/djangoindia/db/admin.py
  backend/djangoindia/db/migrations/0008_event_slug.py
  backend/djangoindia/db/migrations/0009_alter_event_slug.py
  backend/djangoindia/db/models/event.py
Labels: backend

#157 Fixes and improvements in events and registration
  backend/djangoindia/api/serializers/event.py
  backend/djangoindia/db/admin.py
  backend/djangoindia/db/migrations/0010_event_max_seats_event_seats_left_and_more.py
  backend/djangoindia/db/models/event.py
  backend/requirements/base.txt
Labels: backend

#160 Added slug in events frontend
  backend/djangoindia/api/urls/event.py
  backend/djangoindia/api/views/event.py
  backend/djangoindia/constants.py
  frontend/src/app/(core)/events/page.tsx
  frontend/src/sections/EventSection/EventCard.tsx
  frontend/src/sections/EventSection/Main.tsx
  frontend/src/types/events.ts
Labels: frontend, backend

#147 Register Event Drawer with API integration
  .gitignore
  backend/djangoindia/bg_tasks/event_registration.py
  backend/templates/admin/registration_success.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/globals.css
  frontend/src/components/Form/form.tsx
  frontend/src/components/Form/index.ts
  frontend/src/components/Select/index.ts
  frontend/src/components/Select/select.tsx
  frontend/src/components/index.ts
  frontend/src/constants/endpoints.ts
  frontend/src/constants/schema.tsx
  frontend/src/containers/Event/Event.tsx
  frontend/src/containers/RegisterEvent/RegisterEvent.config.ts
  frontend/src/containers/RegisterEvent/RegisterEvent.tsx
  frontend/src/containers/RegisterEvent/RegisterEvent.types.ts
  frontend/src/sections/EventSection/EventCard.tsx
Labels: feature, frontend

#137 Setup API for community_partner
  backend/djangoindia/api/serializers/__init__.py
  backend/djangoindia/api/serializers/event.py
  backend/djangoindia/api/serializers/partner_and_sponsor.py
  backend/djangoindia/api/urls/__init__.py
  backend/djangoindia/api/urls/partner_and_sponsor.py
  backend/djangoindia/api/views/__init__.py
  backend/djangoindia/api/views/event.py
  backend/djangoindia/api/views/partner_and_sponsor.py
  backend/djangoindia/db/admin.py
  backend/djangoindia/db/migrations/0011_communitypartner.py
  backend/djangoindia/db/models/__init__.py
  backend/djangoindia/db/models/event.py
  backend/djangoindia/db/models/partner_and_sponsor.py
  backend/djangoindia/db/models/update.py
Labels: backend
