Repository djangoindia/djangoindia.org, pull requests merged in 2024-12, with the labels that each got.

#243 [Feature]: Media Library Page
  frontend/next.config.mjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/(core)/events/page.tsx
  frontend/src/app/(core)/gallery/[slug]/page.tsx
  frontend/src/app/(core)/gallery/layout.tsx
  frontend/src/app/(core)/gallery/page.tsx
  frontend/src/app/(core)/sponsors-and-partners/page.tsx
  frontend/src/components/Collapsible/collapsible.tsx
  frontend/src/components/Collapsible/index.ts
  frontend/src/components/NestedList/NestedList.tsx
  frontend/src/components/NestedList/NestedList.types.ts
  frontend/src/components/NestedList/index.ts
  frontend/src/components/VerticalTabs/VerticalTabs.tsx
  frontend/src/components/VerticalTabs/VerticalTabs.types.ts
  frontend/src/components/VerticalTabs/index.ts
  frontend/src/components/index.ts
  frontend/src/constants/endpoints.ts
  frontend/src/constants/routes.ts
  frontend/src/containers/ContactUs/ContactUs.tsx
  frontend/src/containers/MediaContainer/Explorer.tsx
  frontend/src/containers/MediaContainer/Media.tsx
  frontend/src/containers/MediaContainer/index.ts
  frontend/src/containers/index.ts
  frontend/src/sections/Navbar/Navbar.tsx
  frontend/src/sections/SponsorsAndPartners/Hero/Hero.tsx
  frontend/src/utils/fetchData.ts
Labels: frontend

#235 Fixed #233 -- Allowed sending html template in updates mail
  backend/djangoindia/bg_tasks/send_update.py
  backend/djangoindia/db/admin.py
  backend/djangoindia/db/forms.py
  backend/djangoindia/db/migrations/0014_rename_html_template_update_email_body_and_more.py
  backend/djangoindia/db/models/update.py
  backend/djangoindia/settings/base.py
  backend/requirements/base.txt
  backend/templates/admin/registration_success.html
  backend/templates/admin/update_mail.html
Labels: backend

#241 Fixes #230: Server crash due to lack of background task for send_mass_email at event registration
  backend/djangoindia/bg_tasks/event_registration.py
  backend/djangoindia/db/admin.py
Labels: bug, enhancement, backend
